body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header {
    background-color: rgb(111, 153, 111);
    color: aliceblue;
    padding: 20px;
}

.grid-container {
    background-color: rgb(170, 197, 170);
    display: grid;
    /*Ativa o layout em grade*/
    grid-template-columns: 1fr 1fr 1fr;
    /*Cria 3 colunas de tamanhos iguais. Cada uma ocupa 1 fração de espaço*/
    gap: 10px;
}

.grid-item {
    background-color: rgb(56, 126, 56);
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}