body{
    border: 2px solid black;
    background-color: aqua;
    font-family: sans-serif;
    margin: 70px;
    padding: 5px;
}

h1{
    border: 2px dashed white;
    background-color: blue;
    margin: 50px;
    padding: 30px;
    color: white;
    width: 400px;
    height: 100px;
}

p{
    margin-left: 20px;
    padding: 10px;
    border: 2px solid black;
    width: 50%;
}

.box1{
    background-color: yellow;
    color: blue;
    width: 400px;
    height: 50px;
    position: static;
}

.box2{
    background-color: green;
    color: red;
    width: 400px;
    height: 50px;
    position: relative;
    /*Ao definimos left, right, top e bottom, essas alterações serão de acordo com a posição relativa à onde é definida inidialmente a div.
    Se colocarmos left: 400; ele se move 400px da esquerda, ou seja, ele vai 400px pra direita.*/
    left: 400px;
    bottom: 50px;

}

.box3{
    background-color: orangered;
    color: yellow;
    width: 400px;
    height: 50px;
    position: absolute;
    /*Essa posição é absoluta, portanto, as alterações serão de acordo com a margem do navegador.*/
    top: 0px;
    left: 0px;
}

.box4{
    background-color: blue;
    color: yellow;
    width: 400px;
    height: 50px;
    position: fixed;
    /*Fixed fica fixo na tela.*/
    top: 350px;
    left: 600px;
}

.box5{
    background-color: purple;
    color: yellow;
    width: 400px;
    height: 50px;
    position: sticky;
    /*Desloca quando você passa por cima*/
    bottom: 50px;
}

.layer1{
    background-color: greenyellow;
    color: blue;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 0px;
    left: 25px;
    z-index: 2;
    /*z-index altera a ordem das camadas dos elementos. Nesse caso, layer2 fica atrás de layer1. */
}

.layer2{
    background-color: cadetblue;
    color: yellow;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 50px;
    left: 50px;
    z-index: 1;
}