.esqcima{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    width: 200px;
    height: 200px;
}

.esqbaixo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: green;
    width: 200px;
    height: 200px;
}

.dircima{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: blue;
    width: 200px;
    height: 200px;
}

.dirbaixo{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: yellow;
    width: 200px;
    height: 200px;
}