body {
    background-image: linear-gradient(to right, rgba(221, 73, 46, 0.507), deeppink);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: aliceblue;
    text-shadow: 0.5px 0.5px 10px black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.criar-tarefa button {
    background-color: yellowgreen;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    text-shadow: 0.5px 0.5px 10px black;
    box-shadow: 2px 2px 10px 1px black;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

main {
    display: flex;
    text-align: center;
    flex: 1;
}

section {
    box-shadow: 2px 2px 10px 1px black;
    gap: 10px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.a-fazer {
    background-color: rgb(255, 101, 91);
}

.em-progresso {
    background-color: lightblue;
}

.concluido {
    background-color: lightgreen;
}

#modal-nova-tarefa {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: lightpink;
    background-image: linear-gradient(to left, rgba(29, 43, 172, 0.507), rgba(20, 36, 255, 0.753));
    padding: 80px;
    border: 5px solid rgb(59, 59, 59);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.329);
}

input,
#fechar-modal,
select,
#botao-criar-tarefa,
.tarefa {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.329);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    width: 250px;
}

label {
    display: block;
}

input {
    position: relative;
    bottom: 15px;
}

#descricao {
    height: 100px;
}

#titulo {
    height: 30px;
}

#fechar-modal {
    background-color: rgba(226, 43, 43, 0.479);
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
}

.tarefa {
    color: black;
    text-shadow: none;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
}

ul {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
}

li {
    list-style-type: none;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.def-a-fazer {
    background-color: rgb(255, 101, 91);
    cursor: pointer;
}

.def-em-progresso {
    background-color: lightblue;
    cursor: pointer;
}

.def-concluido {
    background-color: lightgreen;
    cursor: pointer;
}

.del {
    border: none;
    position: absolute;
    left: 20px;
    bottom: 10px;
    background: transparent;
    cursor: pointer;
}

.edit {
    border: none;
    position: absolute;
    left: 100px;
    bottom: 10px;
    background: transparent;
    cursor: pointer;
}

.Alto {
    color: red;
}

.Médio {
    color: rgb(209, 139, 9);
}

.Baixo {
    color: green;
}