html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    height: 100%;
    background-image: url('../img/capa.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 20px;
}

.apresentacao {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.item {
    width: 250px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px gray;
    padding: 40px;
    text-align: center;
}

.item img {
    width: 100px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.depoimentos img {
    border-radius: 100px;
}

a {
    background-color: rgb(6, 61, 165);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
}

footer {
    background-color: rgb(51, 49, 49);
    padding: 5px;
    text-align: center;
    color: aliceblue;
}