body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    /*border: 2px solid gray; shorthand "atalho"*/
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    /*margem externa*/
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 60px;
    margin-left: 100px;
    /*margem interna, preenchimento*/
    /*
    padding-top: 60px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-left: 100px;
    */
    padding: 60px 100px;
}

h1 {
    margin: 150px;
    background-color: rgb(59, 137, 255);
    border: 5px dotted yellow;
    padding: 20px;
    width: 200px;
    height: 200px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

p {
    margin: 30px;
    border: 1px solid rgba(255, 56, 21, 0.979);
    padding: 10px 20px 5px 9px;
}

.bloco00 {
    background-color: green;
    width: auto;
    height: auto;
    margin: 100px;
    padding: 50px;
    color: red;
}

