body{
    margin: 0px;
}

/*==========Cima===========*/
.cima {
    background-color: blue;
    padding: 20px 200px 30px 200px;
    height: 208px;
}

.esqcima {
    position: relative;
    background-color: green;
    width: 400px;
    height: 120px;
}

.dircima {
    position: relative;
    background-color: red;
    width: 400px;
    height: 120px;
    left: 65%;
    bottom: 136px;
}

/*==========Centro===========*/
.centro {
    background-color: green;
    padding: 20px 200px 30px 200px;
    height: 208px;
}

.esqcentro {
    position: relative;
    background-color: red;
    width: 400px;
    height: 120px;
}

.dircentro {
    position: relative;
    background-color: blue;
    width: 400px;
    height: 120px;
    left: 65%;
    bottom: 136px;
}

/*==========Baixo===========*/
.baixo {
    background-color: red;
    padding: 20px 200px 30px 200px;
    height: 208px;
}

.esqbaixo {
    position: relative;
    background-color: blue;
    width: 400px;
    height: 120px;
}

.dirbaixo {
    position: relative;
    background-color: green;
    width: 400px;
    height: 120px;
    left: 65%;
    bottom: 136px;
}