body {
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}

h1 {
    background-color: rgb(228, 100, 77);
    border-radius: 10px;
    padding: 5px;
    width: 400px;
}

.it,
.po,
.al,
.be,
.in,
.su,
.br {
    background-color: white;
    border: 3px solid black;
    width: 400px;
    height: 250px;
}

/*Itália*/
.it_green {
    background-color: red;
    width: 35%;
    height: 100%;
}

.it_red {
    background-color: green;
    width: 35%;
    height: 100%;
    position: relative;
    left: 260px;
    bottom: 100%;
}

/*Polônia*/
.po_red {
    background-color: red;
    width: 100%;
    height: 50%;
    position: relative;
    top: 50%;
}

/*Alemanha*/
.al_black {
    background-color: black;
    width: 100%;
    height: 84px;
}

.al_red {
    background-color: red;
    width: 100%;
    height: 84px;
}

.al_yellow {
    background-color: yellow;
    width: 100%;
    height: 82px;
}

/*Bélgica*/
.be_black {
    background-color: black;
    width: 136px;
    height: 100%;
}

.be_yellow {
    background-color: yellow;
    width: 136px;
    height: 100%;
    position: relative;
    left: 132px;
    bottom: 100%;
}

.be_red {
    background-color: red;
    width: 136px;
    height: 100%;
    position: relative;
    left: 264px;
    bottom: 200%;
}

/*Inglaterra*/
.in_horizontal {
    background-color: red;
    width: 100%;
    height: 20%;
    position: relative;
    top: 100px;
}

.in_vertical {
    background-color: red;
    height: 100%;
    width: 14%;
    position: relative;
    bottom: 50px;
    left: 170px;
}

/*Suécia*/
.su{
    background-color: rgb(43, 117, 214);
}

.su_horizontal {
    background-color: rgb(212, 212, 14);
    width: 100%;
    height: 20%;
    position: relative;
    top: 100px;
}

.su_vertical {
    background-color: rgb(212, 212, 14);
    height: 100%;
    width: 14%;
    position: relative;
    bottom: 50px;
    left: 120px;
}

/*Brasil*/
.br {
    background-color: green;
}

.br_yellow {
    background-color: yellow;
    width: 350px;
    height: 200px;
    position: relative;
    left: 25px;
    top: 25px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.br_blue {
    background-color: blue;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    left: 31%;
    bottom: 60%;
}