<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns = "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd" version = "6.1" metadata-complete = "false" >

    <servlet>
        <servlet-name>ex1</servlet-name>
        <servlet-class>br.edu.ifpr.irati.ads.servlet.Exemplo1Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ex1</servlet-name>
        <url-pattern>/exemplo1</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/erro500.html</location>
    </error-page>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>