html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #777777;
}

.parallax1 {
    position: relative;
    background-image: url("../img/img_parallax.jpg");
    /*define a imagem do parallax*/
    height: 100%;
    /*define a altura da imagem*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*não permite que a imagem se repita caso a tela seja maior que a resolução da imagem*/
    background-size: cover;
    /*cobre toda a tela*/
}

.caption {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: darkred;
    color: white;
    padding: 20px;
    letter-spacing: 5px;
    /*espaçamento entre letras*/
    font-size: 25px;
}

.parallax2 {
    position: relative;
    background-image: url("../img/img_parallax2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.parallax3 {
    position: relative;
    background-image: url("../img/img_parallax3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.box1 {
    color: #777777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

.box1 h3{
    text-align: center;
}

.box2 {
    color: white;
    background-color: #777777;
    text-align: center;
    padding: 50px 80px;
}