body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e3edf5;
    color: #333;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #6a0e0e;
}

form {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    /*O display: block; faz o elemento ocupar toda a linha*/
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#nome,
#idade {
    width: 80%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
}

button {
    background-color: #4caf50;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    /*Define a mãozinha que indica clickável*/
    cursor: pointer;
}

button:hover {
    background-color: #065d0b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    width: 400px;
}

a {
    color: #4caf50;
    text-decoration: none;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}