body{
    background-color: #FFEDFA; /*Muda o fundo*/
    font-family: 'Courier New', Courier, monospace ; /*Muda a fonte*/
}

h1, h2{
    background-color: #FCFFC1; /*Muda o fundo*/
    text-align: center; /*Muda o alinhamento*/
}

h1, p, ul{
    color: #BE5985; /*Muda a cor do texto*/
}

h2{
    color: #EC7FA9; /*Muda a cor do texto*/
}

h3{
    color: #ff7ec7; /*Muda a cor do texto*/
}

ul{
    font-size: 25px; /*Muda o tamanho da fonte*/
}

li{
    margin: 10px; /*Muda a margem externa do li*/
}