body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
    /*Ajusta a margem automaticamente*/
    background-image: linear-gradient(to right, #301110, #AC3834);
    /*Gradiente linear*/
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    border-radius: 10px;
    margin-top: 50px;
}

.logo img {
    width: 45%;
    padding-top: 50px;
}

.navegacao {
    overflow: hidden;
    /*Remove a barra de rolagem*/
    padding: 10px;
}

.navegacao a {
    color: rgb(173, 173, 173);
    float: right;
    /*Flutua os hiperlinks a direita e coloca em ordem*/
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: right;
}

.navegacao a:hover {
    border-radius: 5px;
    background-color: black;
    color: #e32936;
}

.conteudo_lateral, .conteudo_central {
    background-color: gainsboro;
    padding: 25px;
    text-align: justify;
    box-shadow: 10px 10px 10px #0b1726;
}

.rodape {
    color: darkgray;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

/*Alterando a responsividade*/

@media screen and (max-width: 800px) {
    .principal {
        flex-direction: column;
    }
    .conteudo_lateral, .conteudo_central {
        padding: 5px;
    }
}